<ion-header>

  <ion-navbar style="text-align: center; background: black">
    <img src="https://image.flaticon.com/icons/png/512/23/23957.png"
         style="display: inline-block; max-width: 20%; height: auto;">
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-searchbar type="text" [(ngModel)]="github_user" name="github_user"
                 (ionInput)="searchUsers($event)"></ion-searchbar>
  <button ion-button small clear (click)="reset()">Clear</button>
  <ion-list>

    <ion-item *ngFor="let profile of profiles">

      <ion-avatar item-left margin-right="30px">
        <img src="{{profile.avatar_url}}"/>
      </ion-avatar>
      <div>
      <h2 class="profiles-heading"><strong>{{profile.login}}</strong></h2>
      <div *ngIf="profile.repo">
        <div *ngFor="let repo of profile.repo">
          <h2>{{repo.name}}</h2>
          <p>{{repo.description}}</p>
          <div item-right>
            <ion-badge class="star-five"><span>{{repo.stargazers_count}}</span></ion-badge>
          </div>
        </div>

      </div>

      </div>
      <div *ngIf="repos && profile.repo === ''">
        No repositories
      </div>
    </ion-item>

  </ion-list>
</ion-content>
